<div class="reports_container">
    <div class="reports-wrapper">
        <div class="reports-top">
            <span class="reports__heading page-heading">Report</span>
            <div class="reports__button__wrap-report">
                <button class="reports__button day active">Day</button>
                <span class="reports__button__span-divide">|</span>
                <button class="reports__button week">Week</button>
                <span class="reports__button__span-divide">|</span>
                <button class="reports__button month">Month</button>
            </div>
        </div>
    </div>

    <div class="reports">
        <div class="reports-wrap">
            <figure class="highcharts-figure">
                <div id="report-container" style="width:750px; height:300px;"></div>
            </figure>
        </div>
        <div class="reports__description">
            <span class="reports__description-span reports__description-span--red">Urgent</span>
            <span class="reports__description-span reports__description-span--orange">High</span>
            <span class="reports__description-span reports__description-span--yellow">Middle</span>
            <span class="reports__description-span reports__description-span--green">Low</span>
            <span class="reports__description-span reports__description-span--grey">Failed</span>
        </div>
    </div>

    <div class="footer__button-wrapper">
        <div class="reports__button__wrap-report">
            <button class="reports__button pomodoros">Pomodoros</button>
            <span class="reports__button__span-divide">|</span>
            <button class="reports__button tasks active">Tasks</button>
        </div>
    </div>
</div>