
<div class="modal__welcome">
    <div class="modal-wrapper">
        <div class="modal__welcome-header">
            <span>Daily Task List +</span>
        </div>
        <div class="modal__welcome-img"></div>
        <div class="modal__welcome-text">As you visit our site for a first time you can check and customize your default application settings </div>
    </div>
    <div class="modal__button-wrap">
        <button class="modal__button-skip">Skip</button>
        <button class="modal__button-settings">Go To Settings</button>
    </div>
</div>