<body>
    <div class="modal-top">
        <div class="">
            <span class="header__span-title"> </span>
            <span class="header__span-description"></span>
        </div>
    </div>
    <div class="modal__progress">
        <div class="modal-estimation">
        </div>
    </div>
    <div class="modal-timer-wrapper">
        <button class="modal-timer__left-button">❮</button>
        <div class="modal-timer">

            <div id="countdown">
                {{!-- <div id="countdown-number"></div> --}}
                <span class="modal-span">Let's do it!</span>
                <span class="modal-span-min"></span>
                <div class="timer"></div>
            </div>
        </div>

        <button class="modal-timer__right-button">❯</button>
    </div>
    <div class="modal__button-wrap">
        <button class="modal__button-start">Start</button>
    </div>

    </div>

</body>