<div class="modal-wrap">
    <div class="modal-button-wrapper-trash">
    </div>
    <div class="modal-button-wrapper">
        <button class="modal-button-cancel-rem"></button>
    </div>
</div>
<span class="modal-span page-heading-modal">Remove task</span>
<div class="modal-span__wrap">
    <span class="modal-span__confirm">Are you sure you want to remove selected task(s)?</span>
</div>
<div class="modal__button-wrap">
    <button class="modal__button-cancel">Cancel</button>
    <button class="modal__button-remove">Remove</button>
</div>