
    <div class="footer__warning-notification-img footer__warning-notification-img--blue"></div>
    This is just an info notification message!
    <button class="footer__warning-notification-button"></button>
