<div class="header settings-sticky">
    <div class="header__img" src="" alt=""> </div>
    <div class="header-wrap">
        <button class="header-icon-trash"> <span class="header-icon-trash-span">0</span></button>
        <button class="header-icon-list active" data-path="/task-list"></button>
        <button class="header-icon-reports" data-path="/reports"></button>
        <button class="header__setting-icon" data-path="/settings"></button>
    </div>
</div>