<div class="header settings-sticky">
    <div class="header__img" src="" alt=""> </div>
    <div class="header-wrap">
        <button class="header-icon-trash"></button>
        <button class="header-icon-list active"></button>
        <button class="header-icon-signal"></button>
        <button class="header__setting-icon"></button>
    </div>
</div>