<div class="modal-add">
    <div class="modal-wrap">
        <div class='modal-button-wrapper-trash'>
            <button class="modal-button-trash"></button>
        </div>
        <div class="modal-button-wrapper">
            <button class="modal-button-cancel"></button>
            <button class="modal-button-done"></button>
        </div>
    </div>
    <span class="modal-span page-heading-modal">Edit task</span>
    <div class="modal">
        <span class="modal-name">TITLE</span>
        <input class="modal-value" value="Add title here">
    </div>
    <div class="modal">
        <span class="modal-name">DESCRIPTION</span>
        <input class="modal-value" value="Add description here">
    </div>
    <div class="modal">
        <span class="modal-name">CATEGORY</span>
        <div class="modal-radio__wrapper">
            <label class='modal-radio-label active'><input class='modal-radio' type="radio" name="category"
                    value="work">Work</label>
            <label class='modal-radio-label'><input class='modal-radio' type="radio" name="category"
                    value="education">Education</label>
            <label class='modal-radio-label'><input class='modal-radio' type="radio" name="category"
                    value="hobby">Hobby</label>
            <label class='modal-radio-label'><input class='modal-radio' type="radio" name="category"
                    value="sport">Sport</label>
            <label class='modal-radio-label'><input class='modal-radio' type="radio" name="category"
                    value="other">Other</label>
        </div>
    </div>
    <div class="modal">
        <span class="modal-name">DEADLINE</span>
        <input class="modal-value" value="March 23, 2022">
    </div>
    <div class="modal">
        <span class="modal-name">ESTIMATION</span>
        <div class="modal-estimation">
            <div class="review-rating" id="block-rev-1">
                <input id="rating-star-1-1" type="radio" name="rating[1]" value="1" checked=""><label
                    class="rating-stars rating-star1 checked" for="rating-star-1-1">
                    <?xml version="1.0" encoding="iso-8859-1"?> </label>
                <input id="rating-star-2-1" type="radio" name="rating[1]" value="2"><label
                    class="rating-stars rating-star1 " for="rating-star-2-1">
                    <?xml version="1.0" encoding="iso-8859-1"?> </label>
                <input id="rating-star-3-1" type="radio" name="rating[1]" value="3"><label
                    class="rating-stars rating-star1" for="rating-star-3-1">
                    <?xml version="1.0" encoding="iso-8859-1"?> </label>
                <input id="rating-star-4-1" type="radio" name="rating[1]" value="4"><label
                    class="rating-stars rating-star1" for="rating-star-4-1">
                    <?xml version="1.0" encoding="iso-8859-1"?> </label>
                <input id="rating-star-5-1" type="radio" name="rating[1]" value="5"><label
                    class="rating-stars rating-star1" for="rating-star-5-1">
                    <?xml version="1.0" encoding="iso-8859-1"?> </label>
            </div>
        </div>
    </div>
    <div class="modal">
        <span class="modal-name">PRIORITY</span>
        <div class="modal-radio__wrapper">
            <label class='modal-radio-label active'><input class='modal-radio' type="radio" name="category"
                    value="urgent">Urgent</label>
            <label class='modal-radio-label'><input class='modal-radio' type="radio" name="category"
                    value="high">High</label>
            <label class='modal-radio-label'><input class='modal-radio' type="radio" name="category"
                    value="middle">Middle</label>
            <label class='modal-radio-label'><input class='modal-radio' type="radio" name="category"
                    value="low">Low</label>
        </div>
    </div>
</div>