<div class="settings">
    <span class="settings page-heading"> Settings</span>
    <span class="settings-span">Categories list overviews</span>
    <div class="settings__button__wrap-cat2">
        <button class="settings__button-pomodoros">Pomodoros</button>
        <span class="settings__button__span-divide">|</span>
        <button class="settings__button-categories active">Categories</button>
    </div>
    <div class="settings__categories">
        <div class="settings__categories-span settings__categories-span--yellow">Work</div>
        <div class="settings__categories-span settings__categories-span--darkblue">Education</div>
        <div class="settings__categories-span settings__categories-span--violet">Hobby</div>
        <div class="settings__categories-span settings__categories-span--red">Sport</div>
        <div class="settings__categories-span settings__categories-span--blue">Other</div>
    </div>
</div>