<div class="settings">
    <div class="settings-wrapper">
        <span class="settings__heading page-heading"> Daily Task List +</span>
        <div class="settings__button__wrap">
            <button class='settings__button-pomodoros active'>To Do</button>
            <span class='settings__button__span-divide'>|</span>
            <button class='settings__button-categories'>Done</button>
        </div>

    </div>
    <div class="settings__daily-container">
    </div>
    <div class="footer__button-wrap">
        <span class="footer__global">Global list ></span>
    </div>
</div>

