<div class="settings">
    <div class="settings-wrapper">
        <span class="settings__heading page-heading"> Daily Task List +</span>
        <div class="settings__button__wrap">
            <button class='settings__button-pomodoros active'>To Do</button>
            <span class='settings__button__span-divide'>|</span>
            <button class='settings__button-categories'>Done</button>
        </div>

    </div>
    <div class="settings__daily-container">
        {{!-- <div class="settings__daily settings__daily--violet">
            <div class="settings__daily-day">TODAY</div>
            <div class="settings__daily-wrapper">
                <span class="settings__daily-span">Lorem ipsum sit amet</span>
                <span class="settings__daily-span-main">Lorem there are times when a CSS selector is so long and
                    specific that it no longer makes sense. </span>
            </div>
            <button class="settings__daily-button"></button>
            <div class="settings__daily-icon settings__daily-icon--red"></div>
        </div>
        <div class="settings__daily settings__daily--red">
            <div class="settings__daily-day">TODAY</div>
            <div class="settings__daily-wrapper">
                <span class="settings__daily-span">Lorem ipsum sit amet</span>
                <span class="settings__daily-span-main">If a section of news is presented within a box that includes a
                    border, background color, and other styles, the class of news might seem like a good option. </span>
            </div>
            <button class="settings__daily-button"></button>
            <div class="settings__daily-icon settings__daily-icon--orange"></div>
        </div>
        <div class="settings__daily settings__daily--yellow">
            <div class="settings__daily-day">TODAY</div>
            <div class="settings__daily-wrapper">
                <span class="settings__daily-span">Lorem ipsum sit amet</span>
                <span class="settings__daily-span-main">If a section of news is presented within a box that includes a
                    border, background color, and other styles, the class of news might seem like a good option. </span>
            </div>
            <button class="settings__daily-button"></button>
            <div class="settings__daily-icon settings__daily-icon--orange"></div>
        </div>
        <div class="settings__daily settings__daily--darkblue">
            <div class="settings__daily-day">TODAY</div>
            <div class="settings__daily-wrapper">
                <span class="settings__daily-span">Lorem ipsum sit amet</span>
                <span class="settings__daily-span-main">There are times when a CSS selector is so long and specific that
                    it no longer makes sense. </span>
            </div>
            <button class="settings__daily-button"></button>
            <div class="settings__daily-icon settings__daily-icon--yellow"></div>
        </div>
        <div class="settings__daily settings__daily--blue">
            <div class="settings__daily-day">TODAY</div>
            <div class="settings__daily-wrapper">
                <span class="settings__daily-span">Lorem ipsum sit amet</span>
                <span class="settings__daily-span-main">There are times when a CSS selector is so long and specific that
                    it no longer makes sense. </span>
            </div>
            <button class="settings__daily-button"></button>
            <div class="settings__daily-icon settings__daily-icon--green"></div>
        </div> --}}
    </div>
    <div class="footer__button-wrap">
        <span class="footer__global">Global list ></span>
    </div>
</div>